body {
  box-sizing: border-box;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  padding: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5900ad;
  text-align: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
