body {
  box-sizing: border-box;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  padding: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5900ad;
  text-align: center;
}

.back-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  font-size: 24px;
}

.back {
  text-decoration: none;
  color: #5900ad;
  display: block;
  box-sizing: border-box;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
